<div class="fullbox" id="tab1">
    <div class="mycontainer" style="font-family:'Times New Roman'">
        <div class="row">
            <div class="col-10">
                <div style="
    font-weight: bold;
">
                    CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                </div>
                <div style="
    text-align: center;
">
                    Độc lập-Tự do-Hạnh phúc
                </div>
                <hr>
                <div style="
    font-weight: 600;
">
                    TỜ KHAI THUẾ GIÁ TRỊ GIA TĂNG (MẫU SỐ 01/GTGT)
                </div>
                <div style="
    font-style: italic;
">
                    (Áp dụng đối với người nộp thuế tính thuế theo phương pháp khấu trừ có hoạt động sản xuất kinh doanh)
                </div>
                <div>
                    <strong> [01a]</strong> Tên hoạt động sản xuất kinh doanh: Hoạt động sản xuất kinh doanh thông thường
                </div>
                <div>
                    <strong> [01b]</strong> Kỳ tính thuế: @(ViewBag.ky!=null? ViewBag.ky:"")
                </div>
                <div>
                    <strong>[02]</strong> Lần đầu: [X] [03] Bổ sung lần thứ: [ ]
                </div>

            </div>
            <div class="col-2">
                <div style="
    font-size: 10px;
    border: 1px solid;
    padding: 10px 5px;
">
                    <div>
                        Mẫu số:
                    </div>
                    <div style="
    font-weight: bold;
">
                        01/GTGT
                    </div>
                    <div>
                        (Ban hành kèm theo Thông tư số 80/2021/TT-BTC ngày 29 tháng 9 năm 2021 của Bộ trưởng Bộ Tài chính)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <strong>[04]</strong> Tên người nộp thuế:
            </div>
            <div class="col-8">
                <input id="TenCty" class="myinput" value="@Model.TenCty" />
            </div>
            <div class="col-4">
                <strong>[05]</strong> Mã số thuế:
            </div>
            <div class="col-8">
                <input class="myinput" value="3500779171" />
            </div>
            <div class="col-4">
                <strong>[06]</strong> Tên đại lý thuế (nếu có):
            </div>
            <div class="col-8">
                <input class="myinput" value="" />
            </div>
            <div class="col-4">
                <strong>[07]</strong> Mã số thuế:
            </div>
            <div class="col-8">
                <input class="myinput" value="" />
            </div>
            <div class="col-12">
                <strong>[09]</strong>   Tên đơn vị phụ thuộc/địa điểm kinh doanh của hoạt động sản xuất kinh doanh khác tỉnh nơi đóng trụ sở chính:
            </div>

        </div>

        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th width="250">
                            Chỉ tiêu
                        </th>
                        <th colspan="2">
                            Giá trị hàng hóa, dịch vụ
                            (chưa có thuế giá trị gia tăng)
                        </th>
                        <th colspan="2" width="350">
                            Thuế giá trị gia tăng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong> A</strong>
                        </td>
                        <td>
                            <strong> Không phát sinh hoạt động mua, bán trong kỳ</strong> (đánh dấu "X")
                        </td>
                        <td class="tdwidth">
                            [21]
                        </td>
                        <td colspan="3">
                            []
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong> B</strong>
                        </td>
                        <td colspan="3">
                            <strong>Thuế giá trị gia tăng còn được khấu trừ kỳ trước chuyển sang</strong>
                        </td>
                        <td class="tdwidth">
                            [22]
                        </td>
                        <td>
                            <input id="col22" class="myinput" value="@Model.N22" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />

                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>C</strong>
                        </td>
                        <td colspan="5">
                            <strong> Kê khai thuế giá trị gia tăng phải nộp ngân sách nhà nước</strong>
                        </td>

                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong> I</strong>
                        </td>
                        <td colspan="5">
                            <strong> Hàng hoá, dịch vụ mua vào trong kỳ</strong>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>1</strong>
                        </td>
                        <td>
                            Giá trị và thuế giá trị gia tăng của hàng hóa, dịch vụ mua vào
                        </td>
                        <td class="tdwidth">
                            <strong>[23]</strong>
                        </td>
                        <td>
                            <input id="col23" value="@Model.N23" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                        <td class="tdwidth">
                            <strong> [24]</strong>
                        </td>
                        <td>
                            <input id="col24" value="@Model.N24" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            Trong đó: hàng hóa, dịch vụ nhập khẩu
                        </td>
                        <td class="tdwidth">
                            <strong>[23a]</strong>
                        </td>
                        <td>
                            <input id="col23a" class="myinput" value="0" />
                        </td>
                        <td class="tdwidth">
                            <strong> [24a]</strong>
                        </td>
                        <td>
                            <input id="col24a" class="myinput" value="0" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                2
                            </strong>
                        </td>
                        <td colspan="3">
                            Thuế giá trị gia tăng của hàng hóa, dịch vụ mua vào được khấu trừ kỳ này
                        </td>
                        <td class="tdwidth">
                            <strong> [25]</strong>
                        </td>
                        <td>
                            <input id="col25" value="@Model.N25" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                II
                            </strong>
                        </td>
                        <td colspan="5">
                            Hàng hoá, dịch vụ bán ra trong kỳ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>1</strong>
                        </td>
                        <td>
                            Hàng hóa, dịch vụ bán ra không chịu thuế giá trị gia tăng
                        </td>
                        <td class="tdwidth">
                            <strong>[26]</strong>
                        </td>
                        <td>
                            <input id="col26" class="myinput" value="0" />
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>2</strong>
                        </td>
                        <td>
                            Hàng hóaHàng hóa, dịch vụ bán ra chịu thuế giá trị gia tăng
                            ([27]=[29]+[30]+[32]+[32a]; [28]=[31]+[33])
                        </td>
                        <td class="tdwidth">
                            <strong>[27]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col27" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                        <td class="tdwidth">
                            <strong>[28]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col28" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            a
                        </td>
                        <td>
                            Hàng hoá, dịch vụ bán ra chịu thuế suất 0%
                        </td>
                        <td class="tdwidth">
                            <strong>[29]</strong>
                        </td>
                        <td>
                            <input id="col29" value="@Model.N29" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            b
                        </td>
                        <td>
                            Hàng hoá, dịch vụ bán ra chịu thuế suất 5%
                        </td>
                        <td class="tdwidth">
                            <strong>[30]</strong>
                        </td>
                        <td>
                            <input id="col30" value="@Model.N30" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="Changecol30()" />
                        </td>
                        <td class="tdwidth">
                            <strong>[31]</strong>
                        </td>
                        <td>
                            <input id="col31" value="@Model.N31" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            c
                        </td>
                        <td>
                            Hàng hoá, dịch vụ bán ra chịu thuế suất 10%
                        </td>
                        <td class="tdwidth">
                            <strong>[32]</strong>
                        </td>
                        <td>
                            <input id="col32" value="@Model.N32" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="Changecol32()" />
                        </td>
                        <td class="tdwidth">
                            <strong>[33]</strong>
                        </td>
                        <td>
                            <input id="col33" value="@Model.N33" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            d
                        </td>
                        <td>
                            Hàng hoá, dịch vụ bán ra không tính thuế
                        </td>
                        <td class="tdwidth">
                            <strong>[32a]</strong>
                        </td>
                        <td>
                            <input id="col32a" class="myinput" value="0" onchange="Sumcol27()" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>3</strong>
                        </td>
                        <td>
                            Tổng doanh thu và thuế giá trị gia tăng của hàng hóa, dịch vụ bán ra
                            ([34]=[26]+[27]; [35]=[28])
                        </td>
                        <td class="tdwidth">
                            <strong>[34]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col34" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                        <td class="tdwidth">
                            <strong>[35]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col35" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                III
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>Thuế giá trị gia tăng phát sinh trong kỳ ([36]=[35]-[25])</strong>
                        </td>
                        <td>
                            <strong>[36]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col36" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>
                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                IV
                            </strong>
                        </td>
                        <td colspan="5">
                            <strong>Điều chỉnh tăng, giảm thuế giá trị gia tăng còn được khấu trừ của các kỳ trước</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                1
                            </strong>
                        </td>
                        <td colspan="3">
                            Điều chỉnh giảm
                        </td>
                        <td>
                            <strong>[37]</strong>
                        </td>
                        <td>
                            <input id="col37" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>
                                2
                            </strong>
                        </td>
                        <td colspan="3">
                            Điều chỉnh tăng
                        </td>
                        <td>
                            <strong>[38]</strong>
                        </td>
                        <td>
                            <input id="col38" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>
                                V
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>Thuế giá trị gia tăng nhận bàn giao được khấu trừ trong kỳ</strong>
                        </td>
                        <td>
                            <strong>[39a]</strong>
                        </td>
                        <td>
                            <input id="col39a" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>
                                VI
                            </strong>
                        </td>
                        <td colspan="5">
                            <strong>Xác định nghĩa vụ thuế giá trị gia tăng phải nộp trong kỳ:</strong>
                        </td>

                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                1
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng phải nộp của hoạt động sản xuất kinh doanh trong kỳ
                                {[40a]=([36]-[22]+[37]-[38]-[39a]) ≥ 0}
                            </strong>
                        </td>
                        <td>
                            <strong>[40a]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col40a" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>
                                2
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng mua vào của dự án đầu tư được bù trừ với thuế GTGT còn phải nộp của hoạt động sản xuất kinh doanh cùng kỳ tính thuế ([40b]≤[40a])
                            </strong>
                        </td>
                        <td>
                            <strong>[40b]</strong>
                        </td>
                        <td>
                            <input id="col40b" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                3
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng còn phải nộp trong kỳ ([40]=[40a]-[40b])
                            </strong>
                        </td>
                        <td>
                            <strong>[40]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col40" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                4
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng chưa khấu trừ hết kỳ này
                                {[41]=([36]-[22]+[37]-[38]-[39a]) ≤ 0}
                            </strong>
                        </td>
                        <td>
                            <strong>[41]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col41" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>
                                4.1
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng đề nghị hoàn ([42] ≤ [41])
                            </strong>
                        </td>
                        <td>
                            <strong>[42]</strong>
                        </td>
                        <td>
                            <input id="col42" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="refresh()" />
                        </td>

                    </tr>
                    <tr class="difftr">
                        <td>
                            <strong>
                                4.2
                            </strong>
                        </td>
                        <td colspan="3">
                            <strong>
                                Thuế giá trị gia tăng còn được khấu trừ chuyển kỳ sau ([43]=[41]-[42])
                            </strong>
                        </td>
                        <td>
                            <strong>[43]</strong>
                        </td>
                        <td>
                            <input disabled="disabled" id="col43" class="myinput" value="0" onblur="formatNumber(this)" onfocus="removeFormat(this)" />
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-end" style="margin-bottom:10px;">
            <input id="tendaily" placeholder="Người ký" value="@Model.Nguoiky" />
            <input id="ngayky" placeholder="Ngày ký" type="date" />
        </div>

    </div>
</div>
<div class="fullbox" id="tab2">
    <div class="mycontainer" style="font-family:'Times New Roman'">
        <div>
            <strong> I. Hàng hóa, dịch vụ mua vào trong kỳ được áp dụng mức thuế suất thuế giá trị gia tăng 8% (áp dụng cho người nộp thuế kê khai theo phương pháp khấu trừ thuế)</strong>
        </div>
        <div>
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th width="30%">Tên hàng hóa, dịch vụ</th>
                        <th>Giá trị hàng hóa, dịch vụ mua vào chưa có thuế GTGT được khấu trừ trong kỳ</th>
                        <th>Thuế GTGT của hàng hóa, dịch vụ mua vào được khấu trừ trong kỳ</th>
                        <th>
                            Xoá
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(1)</td>
                        <td class="text-center">(2)</td>
                        <td class="text-center">(3)</td>
                        <td class="text-center">(4)</td>
                        <td>
                        </td>
                    </tr>
                    @if (ViewBag.Phuluc1 != null)
                    {
                        foreach (var item in ViewBag.Phuluc1)
                        {
                            <tr>
                                <td>1</td>
                                <td><input data-name="TenHH" class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="@item.Tenhang" /></td>
                                <td><input data-name="GT1" class="myinput ip_ttrcthue" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="@item.TTrcthue" onchange="TinhTongPhuluc1()" /></td>
                                <td><input data-name="GT2" class="myinput ip_tthue" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="@item.TThue" onchange="TinhTongPhuluc2()" /></td>
                                <td>
                                    <a class="btn btn-danger btn-sm" onclick="deleterow(this)" style="height: 22px; line-height: 10px; ">
                                        -
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    <tr id="totalRow">
                        <td>
                        </td>
                        <td>
                            <strong>Tổng cộng:</strong>
                        </td>
                        <td>
                            <input id="tong1" disabled class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="0" />
                        </td>
                        <td>
                            <input id="tong2" disabled class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="0" />
                        </td>
                        <td>
                            <a onclick="addRow()" class="btn btn-sm btn-success">
                                +
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div>
            <strong>
                II. Hàng hóa, dịch vụ bán ra trong kỳ
            </strong>
        </div>
        <div>
            <table class="table table-bordered" id="myTable2">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên hàng hóa, dịch vụ</th>
                        <th>Giá trị hàng hóa, dịch vụ chưa có thuế GTGT</th>
                        <th>Thuế suất thuế GTGT theo quy định (%)</th>
                        <th>Thuế suất thuế GTGT sau giảm (%)</th>
                        <th>Thuế GTGT của hàng hóa, dịch vụ bán ra được giảm (VNĐ)</th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Phuluc1 != null)
                    {
                        int i = 1;
                        foreach (var item in ViewBag.Phuluc2)
                        {
                            <tr>
                                <td>@i</td>
                                <td width="300">
                                    <textarea data-name="TenHH" class="myinput">@item.Tenhang</textarea>
                                </td>
                                <td width="100"> <input data-name="GT1" class="myinput ip_ttrcthue2" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="@item.TTrcthue" onchange="TinhTongPhuluc3()" /></td>
                                <td>10%</td>
                                <td>8%</td>
                                <td><input data-name="GT2" class="myinput ip_tthue2" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="@item.TThue" onchange="TinhTongPhuluc4()" /></td>
                                <td>
                                    <a class="btn btn-danger btn-sm" onclick="deleterow(this)" style="height: 22px; line-height: 10px; ">
                                        -
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    <tr id="totalRow2">
                        <td>
                        </td>
                        <td>
                            <strong>Tổng cộng:</strong>
                        </td>
                        <td>
                            <input id="tong3" disabled class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="0" />
                        <td>
                        <td>
                        </td>
                        <td>
                            <input id="tong4" disabled class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="0" />
                        </td>


                        <td>
                            <a onclick="addRow2()" class="btn btn-sm btn-success">
                                +
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

<style>
    textarea {
        width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của ô */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
        resize: none; /* Ngăn người dùng thay đổi kích thước bằng tay */
        max-height: 100px; /* Chiều cao tối đa */
        overflow-y: auto; /* Hiển thị thanh cuộn khi cần */
    }

    .fullbox ul {
        background-color: #cdcdcd;
        margin: 0px;
        padding: 0px;
    }

        .fullbox ul li {
            display: inline-block;
            margin: 0px;
            padding: 0px;
        }

            .fullbox ul li a {
                display: block;
                background-color: #eee;
                padding: 5px 5px;
                cursor: pointer;
            }
</style>
<div class="mycontainer" style="font-family:'Times New Roman'">
    <div class="text-end">
        <button onclick="savedataPl()"
                class="btn btn-sm btn-primary">
            Kết xuất
        </button>
    </div>
</div>
<div class="fullbox" style=" position: sticky; bottom: 0px;">
    <div class="mycontainer" style="font-family:'Times New Roman'">
        <ul>
            <li>
                <a onclick="opentab(1)">
                    Tờ khai
                </a>
            </li>
            <li>
                <a onclick="opentab(2)">
                    Phụ lục
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    function addRow() {
        // Tạo hàng mới
        let newRow = `
        <tr>
            <td></td> <!-- Số thứ tự sẽ được cập nhật tự động -->
            <td><input class="myinput" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="" /></td>
            <td><input class="myinput ip_ttrcthue" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="" onchange="TinhTongPhuluc1()" /></td>
            <td><input class="myinput ip_tthue" onblur="formatNumber(this)" onfocus="removeFormat(this)" value="" onchange="TinhTongPhuluc2()" /></td>
            <td>
                <a class="btn btn-danger btn-sm" onclick="deleterow(this)">-</a>
            </td>
        </tr>
    `;
        // Thêm hàng mới vào tbody
        $("#totalRow").before(newRow);

        // Cập nhật số thứ tự cho các hàng
        updateRowNumbers();
    }
    function addRow2() {
        // Tạo hàng mới
        let newRow = `
        <tr>
            <td></td> <!-- Số thứ tự sẽ được cập nhật tự động -->
            <td width="300">
                <textarea class="myinput"></textarea>
            </td>
            <td>
                <input class="myinput ip_ttrcthue2" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="TinhTongPhuluc3()" />
            </td>
            <td>10%</td> <!-- Giá trị cố định cho thuế -->
            <td>8%</td>  <!-- Giá trị cố định cho thuế -->
            <td>
                <input class="myinput ip_tthue2" onblur="formatNumber(this)" onfocus="removeFormat(this)" onchange="TinhTongPhuluc4()" />
            </td>
            <td>
                <a class="btn btn-danger btn-sm" onclick="deleterow(this)" style="height: 22px; line-height: 10px;">
                    -
                </a>
            </td>
        </tr>
    `;
        // Thêm hàng mới vào tbody
        $("#totalRow2").before(newRow);

        // Cập nhật số thứ tự cho các hàng
    }

    function updateRowNumbers() {
        $("#myTable tbody tr").each(function (index) {
            $(this).find('td:first').text(index + 1); // Cập nhật số thứ tự
        });
    }
    function updateRowNumbers() {
        $("#myTable tbody tr").each(function (index) {
            $(this).find('td:first').text(index + 1); // Cập nhật số thứ tự
        });
    }
    function opentab(id) {
        if (id == 1) {
            $("#tab1").show();
            $("#tab2").hide();
        }
        else {
            $("#tab1").hide();
            $("#tab2").show();
        }
    }
</script>
<input id="path" type="hidden" />
<input id="ky" value="@ViewBag.ky" type="hidden" />
<script>
 function collectTableData(tableId) {
    const tableData = [];
    document.querySelectorAll(`${tableId} tbody tr`).forEach(row => {
        const rowData = {};
        row.querySelectorAll('.myinput').forEach(input => {
            const dataName = input.getAttribute('data-name'); // Lấy giá trị của data-name
            let formattedValue = input.value; // Khởi tạo giá trị gốc
            if (dataName !== "TenHH") {
                formattedValue = removeFormat2(input.value); // Xóa định dạng trước khi lưu
            }
            rowData[dataName] = formattedValue; // Gán giá trị vào object
        });
        tableData.push(rowData); // Thêm hàng dữ liệu vào mảng
    });
    return tableData;
}

function savedataPl() {
    // Thu thập dữ liệu từ bảng đầu tiên
    const tableData1 = collectTableData('#myTable');

    // Gửi dữ liệu qua AJAX cho bảng đầu tiên
    $.ajax({
        type: "POST",
        url: '@Url.Action("SaveDataPL", "Home")', // Địa chỉ controller
        data: {
            path: $("#path").val(),
            tableData: JSON.stringify(tableData1) // Chuyển đổi dữ liệu thành chuỗi JSON
        },
        success: function(response) {
            console.log("Dữ liệu đã được gửi thành công:", response);

            // Thu thập dữ liệu từ bảng thứ hai
            const tableData2 = collectTableData('#myTable2');

            // Gửi dữ liệu qua AJAX cho bảng thứ hai
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDataPL2", "Home")', // Địa chỉ controller
                data: {
                    path: $("#path").val(),
                    tableData: JSON.stringify(tableData2) // Chuyển đổi dữ liệu thành chuỗi JSON
                },
                success: function(response) {
                    console.log("Dữ liệu đã được gửi thành công:", response);
                    exportXML();
                },
                error: function(xhr, status, error) {
                    console.error("Có lỗi xảy ra khi gửi dữ liệu:", error);
                }
            });
        },
        error: function(xhr, status, error) {
            console.error("Có lỗi xảy ra khi gửi dữ liệu:", error);
        }
    });
}
    function exportXML() {
        const inputs = document.querySelectorAll('.myinput');
        inputs.forEach(input => {
            removeFormat(input); // Xóa định dạng trước khi lấy giá trị
        });

        var get36 = $("#col36").val();
        if (get36.startsWith('(')) {
            get36 = get36.slice(1, -1);
            soam = true;
        }

        const url = '@Url.Action("CreateTaxXMLFull", "Home")' +
            '?path=' + $("#path").val() +
            '&ky=' + $("#ky").val() +
            '&ngayky=' + $("#ngayky").val() +
            '&tencty=' + $("#TenCty").val() +
            '&tendaily=' + $("#tendaily").val() +
        '&N22=' + $("#col22").val() +
        '&N23=' + $("#col23").val() +
        '&N24=' + $("#col24").val() +
        '&N23a=' + $("#col23a").val() +
        '&N24a=' + $("#col24a").val() +
        '&N25=' + $("#col25").val() +
        '&N26=' + $("#col26").val() +
        '&N27=' + $("#col27").val() +
        '&N28=' + $("#col28").val() +
        '&N29=' + $("#col29").val() +
        '&N30=' + $("#col30").val() +
        '&N31=' + $("#col31").val() +
        '&N32=' + $("#col32").val() +
        '&N33=' + $("#col33").val() +
        '&N32a=' + $("#col32a").val() +
        '&N34=' + $("#col34").val() +
            '&N35=' + $("#col35").val() +
            '&N36=' + parseFloat(get36) +
        '&N37=' + $("#col37").val() +
        '&N38=' + $("#col38").val() +
        '&N39a=' + $("#col39a").val() +
        '&N40=' + $("#col40").val() +
        '&N40a=' + $("#col40a").val() +
        '&N40b=' + $("#col40b").val() +
        '&N41=' + $("#col41").val() +
        '&N42=' + $("#col42").val() +
        '&N43=' + $("#col43").val();
    window.open(url);
}
</script>
<style>
    .mycontainer {
        max-width: 60%;
        width: 60%;
        margin: 0px auto;
        background-color: white;
        padding: 20px 20px;
    }

    .myinput {
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid #eee;
        outline: none;
    }

    table {
        font-size: 14px;
    }

        table th {
            font-weight: bold;
            text-align: center;
        }

    .tdwidth {
        width: 50px;
    }

    table input {
        text-align: right;
    }

    table td, table th {
        vertical-align: middle;
    }

    table td {
        padding: 3px 10px !important;
    }

    .difftr {
        background-color: #E8F4FA;
        color: #084298;
        font-weight: bold;
    }

        .difftr input {
            color: #084298;
            font-weight: bold;
            background-color: transparent;
        }

    body {
        background-color: #414141;
    }
</style>
<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>
    function getPathFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        const path = urlParams.get('path');
        return path ? decodeURIComponent(path) : null;
    }

    function ExportXML() {

        $.ajax({
            url: '/Home/CreateTaxXMLFull', // URL API export
            type: 'GET',
            data: {
                path: getPathFromURL(),
                tencty: $("#TenCty").val(),
                N22: $("#col22").val(),
            },
            dataType: "html",
            success: function (data) {
                // Tạo URL cho file blob
                const url = window.URL.createObjectURL(data);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'Test_UTF8.xml'; // Tên file để tải về
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url); // Giải phóng URL
            },
            error: function () {
                alert('Lỗi khi export XML!');
                $('#loading').hide();
            }
        });
    }
    // Hàm để định dạng số
    function formatNumber(input) {
        let value = parseFloat(input.value.replace(/\./g, '').replace(/,/g, '.'));
        if (!isNaN(value)) {
            input.value = value.toLocaleString('de-DE', { minimumFractionDigits: 0, maximumFractionDigits: 0 }); // Định dạng theo số thập phân
        }
        setDefaultValue();
    }

    // Hàm để xóa định dạng
    function removeFormat(input) {
        input.value = input.value.replace(/\./g, ''); // Xóa định dạng khi lấy lại
    }
    function removeFormat2(value) {
        // Kiểm tra xem giá trị có phải là chuỗi không
        if (typeof value === 'string') {
            return value.replace(/\./g, ''); // Xóa tất cả các dấu chấm
        }
        return value; // Trả về giá trị không thay đổi nếu không phải chuỗi
    }
    // Định dạng số ngay khi tải trang
    window.onload = function () {
        const inputs = document.querySelectorAll('.myinput');
        inputs.forEach(input => {
            formatNumber(input); // Định dạng ngay khi tải
        });
    };
    function Changecol30() {
        Sumcol27();
        var getdata = parseFloat($("#col30").val()) * 5 / 100;
        $("#col31").val(getdata).change();
        formatNumber(document.getElementById('col31'));
    }
    function Changecol32() {
        Sumcol27();
        var getdata = parseFloat($("#col32").val()) * 10 / 100;
        $("#col33").val(getdata).change();
        formatNumber(document.getElementById('col33'));
    }
    function Change36() {
        Sumcol27();
    }
    function Changecol22() {
        Sumcol27();
    }
    function refresh() {
        Sumcol27();
    }
    let isCal = true;
    let Sumcol27 = () => {
        if (isCal == true) {
            isCal = false;
            let parseValue = (value) => {
                return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
            };

            let valuecol27 =
                parseValue($("#col29").val()) +
                parseValue($("#col30").val()) +
                parseValue($("#col32").val()) +
                parseValue($("#col32a").val());

            // Gán kết quả vào ô có id 'col27' và kích hoạt sự kiện change
            $("#col27").val(valuecol27).change();
            // Format the number in #col27
            formatNumber(document.getElementById('col27'));

            Sumcol28();
            Sumcol35();
            Sumcol34();
            Sumcol36();
            Sumcol40a();
            Sumcol40();
            Sumcol41();
            Sumcol43();
            isCal = true;
        }

    };
    let Sumcol28 = () => {
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        let valuecol28 =
            parseValue($("#col31").val()) + parseValue($("#col33").val());

        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        $("#col28").val(valuecol28).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col28'));
    };
    let Sumcol34 = () => {
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        let valuecol34 =
            parseValue($("#col26").val()) + parseValue($("#col27").val());
        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        $("#col34").val(valuecol34).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col34'));

    };
    let Sumcol35 = () => {
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        let valuecol35 =
            parseValue($("#col28").val());
        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        $("#col35").val(valuecol35).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col35'));

    };
    let Sumcol36 = () => {
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Convert value
        };

        let valuecol36 = parseValue($("#col35").val()) - parseValue($("#col25").val());

        // Format negative numbers with parentheses
        if (valuecol36 < 0) {
            valuecol36 = `(${Math.abs(valuecol36)})`; // Remove negative sign and add parentheses
        }

        // Assign the result to the element with id 'col36'
        $("#col36").val(valuecol36).change();
        formatNumber(document.getElementById('col36'));
    };

    let Sumcol40a = () => {
        var soam = false;
        var get36 = $("#col36").val();
        if (get36.startsWith('(')) {
            get36 = get36.slice(1, -1);
            soam = true;
        }
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        var num36 = 0;
        if (soam == false)
            num36 = parseValue(get36)
        else
            num36 = parseValue(get36) * (-1)
        let valuecol40a =
            num36 - parseValue($("#col22").val()) + parseValue($("#col37").val()) - parseValue($("#col38").val()) - parseValue($("#col39a").val());
        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        if (valuecol40a <= 0)
            valuecol40a = 0
        $("#col40a").val(valuecol40a).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col40a'));

    };
    let Sumcol40 = () => {
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        let valuecol40a =
            parseValue($("#col40a").val()) - parseValue($("#col40b").val());
        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        $("#col40").val(valuecol40a).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col40'));

    };
    let Sumcol41 = () => {
        var soam = false;
        var get36 = $("#col36").val();
        if (get36.startsWith('(')) {
            get36 = get36.slice(1, -1);
            soam = true;
        }
        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        var num36 = 0;
        if (soam == false)
            num36 = parseValue(get36)
        else
            num36 = parseValue(get36) * (-1)
        let valuecol41 =
            num36 - parseValue($("#col22").val()) + parseValue($("#col37").val()) - parseValue($("#col38").val()) - parseValue($("#col39a").val());
        if (valuecol41 < 0) {
            valuecol41 = Math.abs(valuecol41)
            // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
            $("#col41").val(valuecol41).change(); // Gán kết quả vào ô có id 'result'
            formatNumber(document.getElementById('col41'));
        }
        else {
            $("#col41").val(0).change(); // Gán kết quả vào ô có id 'result'
            formatNumber(document.getElementById('col41'));
        }

    };

    let Sumcol43 = () => {

        let parseValue = (value) => {
            return parseFloat(value.replace(/\./g, '').replace(/,/g, '.')) || 0; // Chuyển đổi giá trị
        };
        let valuecol43 = parseValue($("#col41").val()) - parseValue($("#col42").val());
        // Nếu cần, gán kết quả vào một phần tử nào đó, ví dụ:
        $("#col43").val(valuecol43).change(); // Gán kết quả vào ô có id 'result'
        formatNumber(document.getElementById('col43'));

    };
    $(document).ready(function () {
        Sumcol27();
        $("#path").val(getPathFromURL());
        const today = new Date().toISOString().split('T')[0];
        $('#ngayky').val(today);
        $("#tab2").hide();
        TinhTongPhuluc1();
        TinhTongPhuluc2();
        TinhTongPhuluc3();
        TinhTongPhuluc4();
    })
    function setDefaultValue() {
        const inputFields = document.querySelectorAll('.myInput');
        inputFields.forEach(inputField => {
            if (inputField.value === '') {
                inputField.value = '0';
            }
        });
    }
</script>
<script>
    function deleterow(button) {
        // Tìm hàng cha (tr) của nút đã nhấn
        $(button).closest('tr').remove();
        TinhTongPhuluc1();
        TinhTongPhuluc2();
        TinhTongPhuluc3();
        TinhTongPhuluc4();
    }
    function TinhTongPhuluc1() {
        let tong = 0;

        $(".ip_ttrcthue").each(function () {
            // Lấy giá trị của input và loại bỏ định dạng phần nghìn
            let value = $(this).val().replace(/\./g, ''); // Xóa dấu chấm
            value = parseFloat(value); // Chuyển đổi thành số

            if (!isNaN(value)) {
                tong += value; // Cộng dồn vào tổng
            }
        });

        // Làm tròn tổng với 2 chữ số thập phân
        let tongHienTai = parseFloat(tong.toFixed(2));
        console.log("Tổng:", tongHienTai);

        // Cập nhật giá trị tổng vào input có id "tong1"
        $("#tong1").val(tongHienTai);
        formatNumber(document.getElementById('tong1'));
        return tongHienTai; // Nếu cần trả về tổng
    }
    function TinhTongPhuluc2() {
        let tong = 0;

        $(".ip_tthue").each(function () {
            // Lấy giá trị của input và loại bỏ định dạng phần nghìn
            let value = $(this).val().replace(/\./g, ''); // Xóa dấu chấm phần nghìn
            value = parseFloat(value.replace(',', '.')); // Chuyển đổi thành số, thay dấu phẩy bằng dấu chấm cho thập phân

            if (!isNaN(value)) {
                tong += value; // Cộng dồn vào tổng
            }
        });

        // Làm tròn tổng với 2 chữ số thập phân
        let tongHienTai = parseFloat(tong.toFixed(2));
        console.log("Tổng:", tongHienTai);

        // Cập nhật giá trị tổng vào input có id "tong2"
        $("#tong2").val(tongHienTai);
        formatNumber(document.getElementById('tong2'));
        return tongHienTai; // Nếu cần trả về tổng
    }


    function TinhTongPhuluc3() {
        let tong = 0;

        $(".ip_ttrcthue2").each(function () {
            // Lấy giá trị của input và loại bỏ định dạng phần nghìn
            let value = $(this).val().replace(/\./g, ''); // Xóa dấu chấm
            value = parseFloat(value); // Chuyển đổi thành số

            if (!isNaN(value)) {
                tong += value; // Cộng dồn vào tổng
            }
        });
        // Làm tròn tổng với 2 chữ số thập phân
        let tongHienTai = parseFloat(tong.toFixed(2));
        console.log("Tổng:", tongHienTai);

        // Cập nhật giá trị tổng vào input có id "tong1"
        $("#tong3").val(tongHienTai);
        formatNumber(document.getElementById('tong3'));
        return tongHienTai; // Nếu cần trả về tổng
    }
    function TinhTongPhuluc4() {
        let tong = 0;

        $(".ip_tthue2").each(function () {
            // Lấy giá trị của input và loại bỏ định dạng phần nghìn
            let value = $(this).val().replace(/\./g, ''); // Xóa dấu chấm phần nghìn
            value = parseFloat(value.replace(',', '.')); // Chuyển đổi thành số, thay dấu phẩy bằng dấu chấm cho thập phân

            if (!isNaN(value)) {
                tong += value; // Cộng dồn vào tổng
            }
        });

        // Làm tròn tổng với 2 chữ số thập phân
        let tongHienTai = parseFloat(tong.toFixed(2));
        console.log("Tổng:", tongHienTai);

        // Cập nhật giá trị tổng vào input có id "tong2"
        $("#tong4").val(tongHienTai);
        formatNumber(document.getElementById('tong4'));
        return tongHienTai; // Nếu cần trả về tổng
    }
</script>